<p id="message-<%= message.id %>">
  <%= message.content %>
  <!-- ********** 以下を追加 ********** -->
  <!-- モーダルのトリガーボタン -->
<%= link_to '編集',
              edit_message_path(message),
              data: { remote: true },
              class: "btn btn-primary",
              id: "editButton-#{message.id}" %>

  <%#= link_to '更新', edit_message_path(message), data: { remote: true } %>
  <!-- ********** 以上を追加 ********** -->
<%= link_to '削除', message_path(message),
            method: :delete,
            data: { confirm: '削除しますか?', remote: true },
            class: "btn btn-secondary" %>
</p>
