<!-- モーダルのトリガーボタン -->
<%= link_to 'NEW TASK CREATE',
              new_message_path,
              data: { remote: true },
              class: "btn btn-primary",
              id: :modalButton %>

<%= render 'modal' %>

<div id="messages">
  <%= render @messages %>
</div>
