<!-- モーダルのトリガーボタン -->
<div class="col-md-2 offset-md-5">
  <%= link_to 'NEW TASK CREATE',
                new_task_path,
                data: { remote: true },
                class: "btn btn-primary",
                id: "modalButton",
                "data-bs-toggle" => "modal",
                "data-bs-target" => "#exampleModal" %>
</div>

<%= render 'modal' %>

<div id="tasks">
  <%= render @tasks %>
</div>
