@import "bootstrap";

li {
    list-style-type: none;
}

a, a:hover {
  text-decoration: none;
  color: white;
}

#logo {
  color: white;
  font-size: large;
}

#modalButton {
  width: 180px;
  display: block;
  text-align: center;
  color: white;
}

// .container {
//   // width: 1080px;
// }
header {
  height: 50px;
}
.header-height {
  height: 50px;
}

// flashメッセージ
#flash {
  margin-top: 50px;
}

// 見出し
.title {
  margin-top: 50px;
}

// タスクのカラム
.task-column {
  p {
    display: inline-block;
    text-align: center;
    font-size: 20px;
  }
}

// タスクのレイアウト
.task-content {
  // width: 1300px;
  height: 60px;
  // border-bottom: dotted 1px black;
  line-height: 60px;
  p {
    display: inline-block;
  }
  // .state {
  //   // width: 120px;
  //   // border: solid 1px black;
  // }
  .limit {
    // width: 170px;
    // border: solid 1px black;
    font-size: 18px;
    text-align: center;
  }
  // .content {
  //   // border: solid 1px black;
  //   // width: 875px;
  // }
  .btn-area{
    // margin
    // border: solid 1px black;
    color: white;
    display: inline-block;
    text-align: right;
  }
}

// フッターのレイアウト
.footer-height {
  position: absolute;
  margin-top: 50px;
  bottom: 0;
}
footer{
  height: 50px;
  p {
    color: white;
    text-align: right;
  }
}

// フォーム

// エラーメッセージ
#errorField {
  color: red;
  font-weight: bold;
}
